#about
  width: 100%
  height: 824px
  position: relative
  padding-top: 80px
  background: linear-gradient( 38deg, #5441ad 0%, #9467d2 99%)
  color: #ffffff
  overflow: hidden

  #slider-about
    width: 100%
    height: 620px
    .slide
      width: 100%
      height: 100%
    .slide-1
      background: url("../img/slide1.png") no-repeat center
    .slide-2
      background: url("../img/slide1.png") no-repeat center
    .slide-3
      background: url("../img/slide1.png") no-repeat center


  .about-content
    width: 100%
    height: 542px
    display: flex
    flex-flow: column
    align-items: flex-start
    margin-top: 115px
  h1
    width: 535px
    font: 70px "Bebas_Neue"
    color: rgb(255, 255, 255)
    text-align: left
    margin: 0
  p
    font: 20px 'Montserrat-Regular'
    max-width: 485px
    padding: 45px 0 65px


  .btn-join
    background-color: rgb(141, 99, 206)
    padding: 30px 80px
    border-radius: 50px
    overflow: hidden
    font: 20px 'Montserrat-Medium'
    color: #ffffff
    &:hover
      box-shadow: inset 0 0 0 2px #ffffff
    svg
      margin-left: 30px




.slick-dotted.slick-slider
  margin-bottom: 30px


.slick-dots
  position: absolute
  bottom: -50px
  display: block
  width: 100%
  padding: 0
  margin: 0
  list-style: none
  text-align: center

.slick-dots li
  position: relative
  display: inline-block
  width: 35px
  height: 4px
  margin: 0 14px
  padding: 0
  cursor: pointer

.slick-dots li button
  width: 35px
  height: 4px
  line-height: 0
  display: block
  padding: 5px
  cursor: pointer
  color: transparent
  border: 0
  outline: 0
  background: 0 0

.slick-dots li button:focus,.slick-dots li button:hover
  outline: 0

.slick-dots li button:focus:before,.slick-dots li button:hover:before
  opacity: .5

.slick-dots li button:before
  content: ''
  width: 35px
  height: 4px
  position: absolute
  top: 0
  left: 0
  text-align: center
  background-color: rgb(255, 255, 255)
  opacity: 0.2
  border-radius: 2px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.slick-dots li.slick-active button:before
  opacity: 1
